{% extends "base.html" %}

{% block title %}
Store
{% endblock %}
    
{% block content %}
    <h1>Hello There</h1>

    <p>This is from templates</p>

    {{ products }}

    <div class="row  row-cols-4">
        {% for product in object_list %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                {% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} / {{ product.category.name }}</h5>

                    {{ product.description }}
                    {% if product.price > 2 %}
                        <p class="card-text text-warning">${{ product.price }}</p>
                    {% else %}
                        <p class="card-text text-danger">${{ product.price }}</p>
                    {% endif %}
                    <a href="{% url 'product-details' product.pk %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



    {% comment %} 
    <div>
        <h2>Product 1</h2>
    </div>
    <div>
        <h2>Product 2</h2>
    </div>
    <div>
        <h2>Product 3</h2>
    </div> 
    {% endcomment %}
    
    {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
        ...
    {% endfor %}

        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
